{% extends 'base.html' %}
{% block button %}
{{ super() }}
<main>
    <h1 style="text-align:center">3</h1>
    <h1 style="text-align:center">Місто: Харків</h1>
    <h2 style="text-align:center">Населення: 1 421 125</h2>
    <h2 style="text-align:center">Опис міста: Перша столиця України</h2>
    <h2 style="text-align:center">Рік заснування: 1654</h2>
    <img src="https://static.ukrinform.com/photos/2022_04/thumb_files/630_360_1651221771-528.jpg" width="616px", height="352px", class="center-img" />
</main>
{% endblock %}