{% extends 'base.html' %}
{% block button %}
{{ super() }}
<main>
    <h1 style="text-align:center">5</h1>
    <h1 style="text-align:center">Місто: Запоріжжя</h1>
    <h2 style="text-align:center">Населення: 710 052</h2>
    <h2 style="text-align:center">Опис міста: Четвертий за величиною індустріальний центр України з розвиненим машинобудуванням, чорною та кольоровою металургією, хімічною та будівельною промисловістю</h2>
    <h2 style="text-align:center">Рік заснування: 952</h2>
    <img src="https://etnoxata.com.ua/image/cache/catalog/image/catalog/stat3/06_2016/22_06_16/z/00.webp" width="800px", height="533px", class="center-img" />
</main>
{% endblock %}