{% extends 'base.html' %}
{% block button %}
{{ super() }}
<main>
    <h1 style="text-align:center">7</h1>
    <h1 style="text-align:center">Місто: Вінниця</h1>
    <h2 style="text-align:center">Населення: 369 740</h2>
    <h2 style="text-align:center">Опис міста: Місто рекордів та рекордсменів</h2>
    <h2 style="text-align:center">Рік заснування: 1355 або 1363</h2>
    <img src="https://moemisto.ua/img/cache/blog_show_photo/blog/0004/66/29621a187e82764a0a7a3b0665264fb15ebb77ef.jpeg" width="900px", height="450px", class="center-img" />
</main>
{% endblock %}