{% extends 'base.html' %}
{% block button %}
{{ super() }}
<main>
    <h1 style="text-align:center">8</h1>
    <h1 style="text-align:center">Місто: Івано-Франківськ</h1>
    <h2 style="text-align:center">Населення: 238 196</h2>
    <h2 style="text-align:center">Опис міста: Серце Прикарпаття</h2>
    <h2 style="text-align:center">Рік заснування: 1661</h2>
    <img src="https://zaxid.net/resources/photos/news/202109/1526378.jpg" width="600px", height="450px", class="center-img" />
</main>
{% endblock %}