{% extends 'base.html' %}
{% block button %}
{{ super() }}
<main>
    <h1 style="text-align:center">9</h1>
    <h1 style="text-align:center">Місто: Чернівці</h1>
    <h2 style="text-align:center">Населення: 264 300</h2>
    <h2 style="text-align:center">Опис міста: Дуже старе місто</h2>
    <h2 style="text-align:center">Рік заснування: XII століття</h2>
    <img src="http://promin.cv.ua/uploads/posts/2017-10/1507709750_1442180581_68423_800x600_chernovcy.jpg" width="718px", height="413px", class="center-img" />
</main>
{% endblock %}