<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
 </head>
 <body>
  <form action="index.html">
    <div class="container">
      <h1>Вхід у аккаунт</h1>
      <p>Будь ласка заповніть форму для входу до аккаунту</p>
      <hr>
  
      <label for="email"><b>Email</b></label><br>
      <input type="text" placeholder="Введіть Email" Email name="email" required><br>
  
      <label for="psw"><b>Пароль</b></label><br>
      <input type="password" placeholder="Введіть пароль" name="psw" required><br>
  
      <label for="email"><b>Введіть резервний Email</b></label><br>
      <input type="text" placeholder="Введіть резервний Email(Не обов'язково)" name="reserv_email"><br>
      <hr>
  
      <button type="submit" class="registerbtn">Увійти</button>
    </div>
  
    <div class="container signin">
      <p>Забули пароль?<a href="https://habr.com/ru/company/selectel/blog/513560/">Натисніть сюди.</a></p>
    </div>
  </form>
 </body>
</html>
